
<div class="container">

  Name: <input type="text" [(ngModel)]="name">{{name}}<br>
  Username: <input type="text" [(ngModel)]="username">{{username}}<br>
  Photo Link: <input type="text" [(ngModel)]="photo">{{photo}}<br>
  Bio: <input type="text" [(ngModel)]="bio">{{bio}}<br>
  Email: <input type="text" [(ngModel)]="email">{{email}}<br>

  <button (click)="update(name, username, photo, bio, email)"
          [routerLink]="['../user-profile']"
          class="btn-danger btn-xs">
          Update
  </button>

</div>
