<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Submission System</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a [routerLink]="['/']">Home</a></li>
          <li *ngIf="(authService.user | async)">
            <a [routerLink]="['/view-profile']">Profile</a>
          </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="(authService.user | async)">
        <li><a (click)="logout()"  [routerLink]="['/']">Logout</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
